html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    width: 40%;
    height: 40%;
    background-image: url('/img/shopping.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    bottom: -3.5rem;
    right: 2rem;
    animation: float 5s ease-in-out infinite;
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}