.button {
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background: #272727;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 10px 5px #69696929;
  padding: .75rem 1.25rem;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;

  &.active {
    background: #272727;
  }

  &:hover{
    background: #000;
    border-color: #000;
  }
}

.dashed {
  font-weight: bold;
  border-bottom: 1px dashed #000;
}