.cp.example {
  padding: 2rem;
  text-align: left;

  .welcome {
    margin-top: 2rem;
    font-size: 1.25rem;
  }

  .status {
    font-size: 1.25rem;
    margin-bottom: 5rem;
  }

  .blocks {
    display: flex;
    margin: 0 -1rem;
  }

  .block {
    width: 50%;
    flex-grow: 1;
    font-size: 1rem;
    padding: 1rem;
    margin: 0 1rem 1rem;
    background: #f3f3f3;
    border: 1px solid #c9c9c9;
    text-align: center;

    &.active {
      background: #4f2ec2;
      color: #fff;
    }

    .title {
      font-size: 1.5rem;
      margin: 0 0 2rem 0;
    }

    .name {
      font-size: 1rem;
      margin: 0 0 1rem 0;
    }

    img {
      width: 4rem;
    }

    .error {
      font-weight: bold;
      color: rgb(180, 25, 25);
      padding: .5rem 0;
    }

    .success {
      font-weight: bold;
      color: rgb(55, 190, 22);
      padding: .5rem 0;
    }
  }

  .wallet {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 812px) {
  .cp.example {
    .blocks {
      display: block;
    }

    .block {
      width: auto;

      .name {
        font-size: .85rem;      
      }
    }
  }
}